<%- include('../partials/header') %>

<form id="new-form" action="./profile.ejs" method="POST">
  <label>What games do you play?</label>
  <input type="text" name="games">
  <label>What is your username for that game?</label>
  <input type="text" name="username">
  <label>What is your rank?</label>
  <input type="text" name="rank">
  <input type="submit" value= "Create Profile">
</form>

<%- include('../partials/footer') %>
