<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
     
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(g) { %>
      <tr>
        <td><%= g.title %></td>
      
        <td><a href="/games/index<%= g._id %>">Games</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>