<%- include('../partials/header') %>

<form id="new-form" action="/games" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <input type="submit" value="Add Game">
</form>

<%- include('../partials/footer') %>